.background{
    background-color: royalblue;
}
.titlebold{
    font-style: bold;
}
.arial{
    font-family: arial;
}
.red{
    color: red;
}
.green{
    color: green;
}
.italic{
    font-style: italic;
}
